body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}
.color-word{
    color:orangered;
}
.space{
    line-height: 30px;
}
.arrange-parts{
    display: flex;
    margin-bottom: 140px;
    margin-top: 30px;
}
.mini-part{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.mini-part img{
    width: 70%;
}
.link-button{
   margin-top: 30px;
   text-decoration: none;
   background-image: linear-gradient(red,black);
   border-radius: 30px;
   color: white;   
   line-height: 100px;
   padding: 10px 30px;
}
.banner{
    background-image: url(images/photoC.jpg);
    background-repeat: no-repeat;
}
.our-menu{
    width: 60%;
    margin-left: 20%;
}
#recipie{
    text-align: center;
}

.small-part{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    border-radius: 9%;
    box-shadow: 8px 8px 40px gray;
}
.small-part img{
    width: 100%;
}
.media-part{
    width: 30%;
    padding-left: 13%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.box{
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
    width: 94%;
    margin-left: 3%;
    margin-right: 5%;
}
.slogan{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 100px;
}
#name{
    font-size: 30px;
}